<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClassificationToolboxWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    </runtime>
    <userSettings>
        <ClassificationToolboxWPF.Properties.Settings>
            <setting name="grayScaleConversionImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="grayScaleConversionOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="openMPthreads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="progressBuffer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="tplThreads" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="samplesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastLogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="cropImageSaveInFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="cropImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="forRemovingFeaturesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="featuresToShow" serializeAs="String">
                <value />
            </setting>
            <setting name="negativeSamplesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="positiveSamplesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="featureSaveAs" serializeAs="String">
                <value />
            </setting>
            <setting name="learningClassifierPath" serializeAs="String">
                <value />
            </setting>
            <setting name="learningFeaturesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="testingClassifierResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="testingClassifierPath" serializeAs="String">
                <value />
            </setting>
            <setting name="testingFeaturesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="batchResultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="detectionClassifierPath" serializeAs="String">
                <value />
            </setting>
            <setting name="detectionImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="detectionResultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="batchDetectionClassifierPath" serializeAs="String">
                <value />
            </setting>
            <setting name="batchDetectionImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="batchDetectionResultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="detectionFPfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="batchCropImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="batchCropSaveInFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="batchNegativeSamplesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="batchPositiveSamplesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="batchExtractionSaveInPath" serializeAs="String">
                <value />
            </setting>
            <setting name="learningValidationFeaturesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="testingImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="batchResultFile" serializeAs="String">
                <value />
            </setting>
            <setting name="learningResamplingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="featureExtractionImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="featureImageSaveAs" serializeAs="String">
                <value />
            </setting>
            <setting name="cropSamplesCoordinates" serializeAs="String">
                <value />
            </setting>
            <setting name="testingClassifierFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="zernikeComparisonImage" serializeAs="String">
                <value />
            </setting>
        </ClassificationToolboxWPF.Properties.Settings>
    </userSettings>
</configuration>
